/* Import the font */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); 

:root {
    --GAMEWIDTH: 100vw;
    --BOARDWIDTH: calc(100vw / 1.75);
    --BOARDHEIGHT: calc(var(--BOARDWIDTH) * 3 / 4);
    --BOARDCOVERWIDTH: calc(var(--BOARDWIDTH) * 0.78);
    --CLICKERWIDTH: calc(var(--BOARDWIDTH) * 0.09);
    --PIECEWIDTHHEIGHT: calc(var(--BOARDWIDTH) * 0.08);
    --TURNINDICATORWIDTHHEIGHT: calc(var(--BOARDWIDTH) * 0.2);
    --BUTTONSWIDTH: var(--TURNINDICATORWIDTHHEIGHT);
    --BUTTONWIDTHHEIGHT: calc(var(--TURNINDICATORWIDTHHEIGHT) * 0.5);
    --RULESWIDTH: calc(var(--BOARDWIDTH) * 0.7);
    --RULESHEIGHT: calc(var(--BOARDHEIGHT) * 0.7);
    --RULESTITLEFONTSIZE: calc(var(--BOARDWIDTH) * 0.04);
}

html, body {
    background-color: white;
    height: 95%;
    width: auto;
    margin: 0px auto;
    font-family: 'Nunito', sans-serif;
}

.game {
    position: relative;
    width: var(--GAMEWIDTH);
    top: calc((100vh - var(--BOARDHEIGHT)) / 2);
    left: calc(50% - (var(--GAMEWIDTH) / 2));
}

.board {
    position: absolute;
    height: var(--BOARDHEIGHT);
    width: var(--BOARDWIDTH);
    left: calc((var(--GAMEWIDTH) - var(--BOARDWIDTH)) / 2);
    top: 0;
}

.boardcover {
    position: absolute;
    width: var(--BOARDCOVERWIDTH);
    height: calc(var(--BOARDHEIGHT) * 0.9);
    left: calc((var(--GAMEWIDTH) - var(--BOARDCOVERWIDTH)) / 2);
    top: calc(-1 * var(--BOARDHEIGHT) / 10);
}

.clicker {
    position: absolute;
    height: calc(var(--BOARDHEIGHT) * 0.9);
    width: var(--CLICKERWIDTH);
}

.piece {
    position: absolute;
    height: var(--PIECEWIDTHHEIGHT);
    width: var(--PIECEWIDTHHEIGHT);
}

.turn-indicator {
    position: absolute;
    width: var(--TURNINDICATORWIDTHHEIGHT);
    height: var(--TURNINDICATORWIDTHHEIGHT);
    left: calc(var(--TURNINDICATORWIDTHHEIGHT) / 1.7);
    top: calc(var(--TURNINDICATORWIDTHHEIGHT) * 1.4);
}

#turn-indicator {
    position: absolute;
    width: var(--TURNINDICATORWIDTHHEIGHT);
    height: var(--TURNINDICATORWIDTHHEIGHT);
}

.turn-indicator-header {
    font-size: calc(var(--TURNINDICATORWIDTHHEIGHT) / 5);
    position: absolute;
    text-align: center;
    top: calc(-1 * var(--TURNINDICATORWIDTHHEIGHT) / 2.5);
    width: var(--TURNINDICATORWIDTHHEIGHT);
}

.buttons {
    position: absolute;
    left: calc(var(--GAMEWIDTH) / 1.23);
    width: var(--BUTTONSWIDTH);
    height: var(--BOARDHEIGHT);
}

.button {
    position: absolute;
    left: calc((var(--BUTTONSWIDTH) - var(--BUTTONWIDTHHEIGHT)) / 2);
    width: var(--BUTTONWIDTHHEIGHT);
    height: var(--BUTTONWIDTHHEIGHT);
    top: calc(var(--BUTTONWIDTHHEIGHT) * 2);
    margin: 0px auto;
}

#info {
    top: calc(var(--BUTTONWIDTHHEIGHT) * 3.75);
}

.rules { 
    position: absolute;
    width: var(--RULESWIDTH);
    height: var(--RULESHEIGHT);
    left: calc((var(--GAMEWIDTH) - var(--RULESWIDTH)) / 2);
    top: calc((var(--BOARDHEIGHT) - var(--RULESHEIGHT)) / 4);
    background-color: rgb(165, 165, 165);
    border-radius: 10%;
    filter: opacity(0%);
}

.rules-title {
    text-align: center;
    margin: calc(var(--RULESTITLEFONTSIZE) * 0.75) auto;
    font-size: var(--RULESTITLEFONTSIZE);
}

.rules-text {
    font-size: calc(var(--RULESTITLEFONTSIZE) * 0.5);
    margin: 0 calc(var(--RULESTITLEFONTSIZE) * 0.5);
}

.screen-dimmer {
    position: absolute;
    height: 100%;
    width: var(--GAMEWIDTH);
    background-color: black;
    filter: opacity(0%);
}

.x-button {
    position: absolute;
    width: calc(var(--PIECEWIDTHHEIGHT) / 2);
    height: calc(var(--PIECEWIDTHHEIGHT) / 2);
    left: calc(var(--RULESWIDTH) * 0.87);
    top: calc(var(--RULESHEIGHT) * 0.07);
}

.link {
    color: black;
}

.link:hover {
    color: blue;
}